<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dynamic Website</title>
  </head>
  <body>
    {{> header}}  <!--HBS Partial-->

    <p>{{screamIt welcomeMessage}}</p>

    {{> footer}}  <!--HBS Partial-->
  </body>
</html>
