<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Dynamic Website</title>
  </head>
  <body>
    {{> header}}

      <p>project page text would go here</p>

    {{> footer}}
  </body>
</html>
